.wrap {
    @include outer-container();
    @include media(max-width 1200px) {
        padding:0 1em;
    }
}

.section-pad {
    padding:4em 0;
}

#primary {
    @include media($medium-screen-up) {
        @include span-columns(9);
    }
}

#secondary {
    @include media($medium-screen-up) {
        @include span-columns(3);
    }
}

// ==================
// = LAYOUT HELPERS =
// ==================

.last {
    @include media($medium-screen-up) {
        @include omega();
    }
}

.one-half {
    @include media($medium-screen-up) {
        @include span-columns(6);
    }
}

.one-third {
    @include media($medium-screen-up) {
        @include span-columns(4);
    }
}

.two-third {
    @include media($medium-screen-up) {
        @include span-columns(8);
    }
}

.one-fourth {
    @include media($medium-screen-up) {
        @include span-columns(3);
    }

    @include media($medium-screen-down) {
        @include span-columns(2);
    }
}

.three-fourth {
    @include media($medium-screen-up) {
        @include span-columns(9);
    }
}

body {
    font-family:$sans-serif;
    -webkit-font-smoothing:antialiased;
    background:#fff;
}

#stage {
    background:#000;
}

#features {
    position:relative;
    margin:0 auto;
    max-width:1600px;

    @include media($medium-screen-down) {
        .wrap {
            padding:0;
        }
    }

    .bgwrap {
        position:absolute;
        height:100%;
        width:100%;
        left:0;
        display:none;
        @include media($medium-screen-up) {
            display:block;
        }


        > div {
            position:absolute;
            height: 100%;
            width: 100%;
            background-size: cover!important;

            @include media($medium-screen-up) {
                width: 50%;
            }
        }

        .bg-0 {
            @include media($medium-screen-up) {
                box-shadow:inset 100px 0 200px #000;
            }
            @include media(max-width 1400px) {
                background-position:top right!important;
            }
        }

        .bg-1 {
            margin-left:50%;
            @include media($medium-screen-up) {
                box-shadow:inset -100px 0 200px #000;
            }
            @include media(max-width 1400px) {
                background-position:top left!important;
            }
        }
    }

    .half {
        @include media($medium-screen-up) {
            float:left;
            width:50%;
            margin:0;
        }
    }

    .hero-content {
        position:relative;
        padding-top:40%;
        @include media(min-width 400px) {
            padding-top:60%;
        }
        @include media(min-width 800px) {
            padding-top:60%;
        }
        @include media(min-width 1200px) {
            padding-top:25em;
        }
        padding-bottom:3em;
        padding-left:1.2em;
        position:relative;
        z-index:100;
        background-size:cover!important;
        @include media($medium-screen-down) {
            background-position:top left!important;
        }

        @include media($medium-screen-up) {
            background:none!important;
        }

        &.hero-0 {
            @include media($medium-screen-down) {
                background-position:top right!important;
            }
        }
    }

    .hero-inner {
        position: absolute;
        bottom: 1.8em;
        left: 1.2em;
    }

    h2 {
        font-family:$light;
        text-transform:uppercase;
        color:#fff;
        font-size:1.8em;
        text-shadow:0 1px rgba(0,0,0,.8);
        margin:.3em 0;
        letter-spacing:0.05em;
        @include media(min-width 760px max-width 990px) {
            font-size:1.4em;
        }
        @include media(max-width 525px) {
            font-size:1.4em;
        }
    }
}

#callouts {
    background:#fff;
    .one-half {
        margin-top:1em;
        margin-bottom:1em;
        background-size:cover;
        background-repeat:no-repeat;
        background-position:top center;
        display:inline-block;

        position:relative;

        &:hover {
            .callout-center {
                .button {
                    background:#cd9601;
                    color:#fff;
                }
            }
        }

        @include media(max-width 500px) {
            .one-half {
                width:100%;
                display:block;
                &.callout-image {
                    padding:1.2em 1.2em 0em 1.2em;
                }
            }
        }

    }

    .callout-center {
        display:table;
        width:100.5%;
        @include transition(all .3s ease);
    }

    .callout-content {
        padding:0 1.2em;
        color:#252525;
        display:table-cell;
        vertical-align:middle;
        padding-bottom:2em;
    }

    .button {
        position:absolute;
        bottom:0;
        left:1.2em;
    }

    h4 {
        font-size:1.3em;
        text-transform:uppercase;
        line-height:1.2em;
        margin-bottom:8px;
    }
}

.link-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
}

#video {
    background:#363636;
    padding:2em 0;
    color:#fff;
    text-align:center;

    .wrap {
        max-width: 640px;
    }

    h4 {
        margin:.2em 0 .8em 0em;
        text-transform:uppercase;
        color:#fff;
        font-size:1.3em;
        display:inline-block;
        letter-spacing:0.05em;
    }

    .videoWrapper {
    	position: relative;
    	padding-bottom: 56.25%; /* 16:9 */
    	padding-top: 25px;
    	height: 0;
        box-shadow:0px 6px 18px #222;
    }
    .videoWrapper iframe {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
}

#special-offers {
    background:#55565b;
    padding:2em 0;
    h4 {
        margin:.2em 0 .8em 1.2em;
        text-transform:uppercase;
        color:#fff;
        letter-spacing:0.04em;
        font-size:1.3em;
        display:inline-block;
        font-family:$light;
    }

    form {
        font-size:13px;
        margin:0 1.2em;
        @include media(min-width 960px) {
            float:right;
        }
    }

    input {
        color:#fff;
        padding:10px;
        border:1px solid #999;
        border-radius:5px;
        line-height:1em;
        vertical-align:middle;
        background:transparent;
        margin-left:10px;
        -webkit-font-smoothing:antialiased;
        @include transition(all .4s ease);
        &:focus {
            outline:none;
            background:lighten(#55565b, 10%);
        }
    }

    input[type="email"] {
        width:250px;
    }

    input[type="zip"] {
        width:116px;
    }

    ::-webkit-input-placeholder { color:#fff; }
    :-moz-placeholder { color:#fff; }
    ::-moz-placeholder { color:#fff; }
    :-ms-input-placeholder { color:#fff; }

    input[type="submit"] {
        @extend .button;
        text-shadow:none;
    }
}

#accordion {
    background:#f7f7f7;
    color:#666666;
    padding:3em 0;

    dt {
        border-top:1px solid #ccc;
        padding:.2em;
        position:relative;
        margin:0 1.2em;

        a {
            display:block;
            padding-right:20px;
            color:#666;
            font-weight:normal;
            @include transition(all .4s ease);
            &:hover {
                color:#444;
            }

            &:after {
                position: absolute;
                top: .5em;
                right: 0;
                content: '+';
                border: 1px solid #aaa;
                border-radius: 10px;
                width: 16px;
                height: 16px;
                font-family: arial;
                text-align: center;
                vertical-align: middle;
                line-height: 16px;
                @include transition(all .2s ease);
            }

            &.open {
                &:after {
                    @include transform(rotate(45deg));
                }
            }
        }
    }

    dd {
        display:none;
        padding:1em .2em;
        margin:0 1.2em;
    }
}