@font-face {
    font-family: 'GSMT';
    src: url('../fonts/gsmt-webfont.eot');
    src: url('../fonts/gsmt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gsmt-webfont.woff') format('woff'),
         url('../fonts/gsmt-webfont.ttf') format('truetype'),
         url('../fonts/gsmt-webfont.svg#GSMT') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GSL';
    src: url('../fonts/gsl-webfont.eot');
    src: url('../fonts/gsl-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gsl-webfont.woff') format('woff'),
         url('../fonts/gsl-webfont.ttf') format('truetype'),
         url('../fonts/gsl-webfont.svg#GSL') format('svg');
    font-weight: normal;
    font-style: normal;
}

$sans-serif : 'GSMT', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$light : 'GSL', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;